
bucket : se-smallseq
sif : /path/to/user/hoof.sif
samples : samples.tsv

release : [
  Equus_caballus.EquCab3.0.103
]

layout : [
  "single"
]

conda_envs :
  trim        : qualcon
  align       : align
  qc          : qualcon
  quant       : quant
  cutadapt    : cutadapt
  trace       : mirtrace
  small       : small
  prost       : prost
  novel_small : novel_small

rep_classes : [
  'LINE', 'SINE', 'DNA', 'Simple_repeat', 
  'LTR', 'Low_complexity', 'LTR_q', 'DNA_q', 
  'Unknown', 'RC', 'RC_q', 'tRNA', 
  'snRNA', 'RNA', 'rRNA', 'srpRNA', 
  'Satellite', 'scRNA'
]

# RULE-SPECIFIC PARTITIONS
partitions :
  assem : "pars"

uniprot : ftp.uniprot.org/pub/databases/uniprot/current_release/knowledgebase/complete/uniprot_sprot.fasta.gz
pfam    : ftp://ftp.ebi.ac.uk/pub/databases/Pfam/current_release/Pfam-A.hmm.gz

# split longest orfs fasta
size : 200

Equus_caballus.EquCab3.0.103 :
  resource : Ensembl
  release  : Equus_caballus.EquCab3.0.103
  fasta    : ftp://ftp.ensembl.org/pub/release-103/fasta/equus_caballus/dna/Equus_caballus.EquCab3.0.dna.toplevel.fa.gz
  gff      : ftp://ftp.ensembl.org/pub/release-103/gff3/equus_caballus/Equus_caballus.EquCab3.0.103.gff3.gz
  gtf      : ftp://ftp.ensembl.org/pub/release-103/gtf/equus_caballus/Equus_caballus.EquCab3.0.103.gtf.gz

